.idea
.direnv
build

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake-build-debug/
cmake_install.cmake
ecm_uninstall.cmake
org.kde.plasma.quicki3.appdata.xml
prefix.sh
regenerateindex.sh
result

